spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: login
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/v1/auth}/login
                - Method=POST
              filters:
                - KeycloakAuthentication
            - id: logout
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/v1/auth}/logout
                - Method=POST
              filters:
                - KeycloakLogout
            - id: refresh
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/v1/auth}/refresh
                - Method=POST
              filters:
                - KeycloakRefresh
            - id: user
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/v1/auth}/user
                - Method=GET
              filters:
                - KeycloakUserInfo
            - id: validate
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/v1/auth}/validate
                - Method=GET
              filters:
                - KeycloakValidate
            - id: trainee-service
              uri: http://localhost:${TRAINEE_SERVICE_PORT:8081}
              predicates:
                - Path=/api/v1/trainee/**
              filters:
                - StripPrefix=2
            - id: tasks-service
              uri: http://localhost:${TRAINEE_SERVICE_PORT:8081}
              predicates:
                - Path=/api/v1/tasks/**
              filters:
                - StripPrefix=2
            - id: notification-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/notification/**
              filters:
                - StripPrefix=2
            - id: mailings-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/mailings/**
              filters:
                - StripPrefix=2
            - id: recipients-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/recipients/**
              filters:
                - StripPrefix=2
            - id: email-templates-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/email-templates/**
              filters:
                - StripPrefix=2
            - id: distribution-groups-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/distribution-groups/**
              filters:
                - StripPrefix=2
            - id: in-app-notifications-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/v1/in-app-notifications/**
              filters:
                - StripPrefix=2
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8090}/realms/${KEYCLOAK_REALM:growpath}
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:8090}/realms/${KEYCLOAK_REALM:growpath}/protocol/openid-connect/certs

application:
  rest:
    authentication:
      path: /api/v1/auth

keycloak:
  client:
    id: ${KEYCLOAK_CLIENT_ID:api-gateway}
    secret: ${KEYCLOAK_CLIENT_SECRET:api-gateway-secret}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:5173,http://localhost:8081,http://localhost:8080}
  allowed-methods: ${CORS_ALLOWED_METHODS:GET,POST,PUT,DELETE,OPTIONS,PATCH}
  allowed-headers: ${CORS_ALLOWED_HEADERS:Content-Type,Authorization,Accept,X-Requested-With}
  allow-credentials: ${CORS_ALLOW_CREDENTIALS:true}

server:
  port: ${API_GATEWAY_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
    tryItOutEnabled: true
